<div>
	<h1>{{ variables.name }}</h1>
	{% if variables.name is defined %}
			<dt>Name</dt>
		<dd> {{ variables.name}} </dd>
		{% endif %}
	{% if variables.pc is defined %}
			<dt>PC</dt>
		<dd> {{ variables.pc}} </dd>
		{% endif %}
	{% if variables.class is defined %}
			<dt>Class</dt>
		<dd> {{ variables.class}} </dd>
		{% endif %}
	{% if variables.al is defined %}
			<dt>AL</dt>
		<dd> {{ variables.al}} </dd>
		{% endif %}
	{% if variables.title is defined %}
			<dt>Title</dt>
		<dd> {{ variables.title}} </dd>
		{% endif %}
	{% if variables.level is defined %}
			<dt>Level</dt>
		<dd> {{ variables.level}} </dd>
		{% endif %}
	{% if variables.abbility_scores is defined %}
			<dt>Abbility Scores</dt>
		<dd> {{ variables.abbility_scores}} </dd>
		{% endif %}
	{% if variables.str is defined %}
			<dt>Str</dt>
		<dd> {{ variables.str}} </dd>
		{% endif %}
	{% if variables.int is defined %}
			<dt>Int</dt>
		<dd> {{ variables.int}} </dd>
		{% endif %}
	{% if variables.wis is defined %}
			<dt>Wis</dt>
		<dd> {{ variables.wis}} </dd>
		{% endif %}
	{% if variables.dex is defined %}
			<dt>Dex</dt>
		<dd> {{ variables.dex}} </dd>
		{% endif %}
	{% if variables.con is defined %}
			<dt>Con</dt>
		<dd> {{ variables.con}} </dd>
		{% endif %}
	{% if variables.cha is defined %}
			<dt>Cha</dt>
		<dd> {{ variables.cha}} </dd>
		{% endif %}
	{% if variables.saving_throws is defined %}
			<dt>Saving Throws</dt>
		<dd> {{ variables.saving_throws}} </dd>
		{% endif %}
	{% if variables.d is defined %}
			<dt>D</dt>
		<dd> {{ variables.d}} </dd>
		{% endif %}
	{% if variables.w is defined %}
			<dt>W</dt>
		<dd> {{ variables.w}} </dd>
		{% endif %}
	{% if variables.p is defined %}
			<dt>P</dt>
		<dd> {{ variables.p}} </dd>
		{% endif %}
	{% if variables.b is defined %}
			<dt>B</dt>
		<dd> {{ variables.b}} </dd>
		{% endif %}
	{% if variables.s is defined %}
			<dt>S</dt>
		<dd> {{ variables.s}} </dd>
		{% endif %}
	{% if variables. is defined %}
			<dt>+/-</dt>
		<dd> {{ variables.}} </dd>
		{% endif %}
	{% if variables.combat is defined %}
			<dt>Combat</dt>
		<dd> {{ variables.combat}} </dd>
		{% endif %}
	{% if variables.hp is defined %}
			<dt>HP</dt>
		<dd> {{ variables.hp}} </dd>
		{% endif %}
	{% if variables.max_hp is defined %}
			<dt>Max HP</dt>
		<dd> {{ variables.max_hp}} </dd>
		{% endif %}
	{% if variables.ac is defined %}
			<dt>AC</dt>
		<dd> {{ variables.ac}} </dd>
		{% endif %}
	{% if variables.mol is defined %}
			<dt>Mol</dt>
		<dd> {{ variables.mol}} </dd>
		{% endif %}
	{% if variables.con_mod_to_hp is defined %}
			<dt>Con Mod to HP</dt>
		<dd> {{ variables.con_mod_to_hp}} </dd>
		{% endif %}
	{% if variables.mis is defined %}
			<dt>Mis</dt>
		<dd> {{ variables.mis}} </dd>
		{% endif %}
	{% if variables.attack_value_matrix is defined %}
			<dt>Attack Value Matrix</dt>
		<dd> {{ variables.attack_value_matrix}} </dd>
		{% endif %}
</div>
							