<!-- Copy/Paste This whole thing. -->
<section class="row">
    <!--TOP ROW-->
    <div class="col-8">
      <!--Vital Stats Block-->
      <div class="form-group">
        <div class="form-group input-group row">
          <div class="input-group-prepend">
            <label class="input-group-text" for="pcNameInput" class="col-form-label">PC</label>
          </div>
          <input type="text" class="form-control" name="name" id="pcNameInput" aria-describedby="helpId"
            placeholder="Character Name" value="{{ variables.name is defined ? variables.name }}"/>
        </div>
        <small id="helpId" class="form-text text-muted sr-only">Your Character's Name</small>

        <div class="form-group-row">
          <div class="input-group row mb-1">
            <div class="input-group-prepend">
              <label class="input-group-text" for="characterClassInput">Class</label>
            </div>
            <input type="text" class="form-control" name="characterClassInput" id="characterClassInput"
              aria-describedby="characterClassHelp" placeholder="Class Name" value="{{ variables.characterClassInput is defined ? variables.characterClassInput }}" />
            <small id="characterClassHelp" class="form-text text-muted sr-only">The Class for your character.</small>
          </div>
          <div class="input-group row mb-1">
            <div class="input-group-prepend">
              <label class="input-group-text" for="characterAlignmentInput">AL</label>
            </div>
            <input type="text" class="form-control" name="characterAlignmentInput" id="characterAlignmentInput"
              aria-describedby="characterAlignmentHelp" placeholder="Alignment" value="{{ variables.characterAlignmentInput is defined ? variables.characterAlignmentInput }}"/>
            <small id="characterAlignmentHelp" class="form-text text-muted sr-only">
              Your characters Alignment</small>
          </div>
        </div>

        <div class="form-group row mb-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text col" for="characterTitleInput">Title</label>
            </div>
            <input type="text" class="form-control" name="characterTitleInput" id="characterTitleInput"
              aria-describedby="characterTitleHelpText" placeholder="Title" value="{{ variables.characterTitleInput is defined ? variables.characterTitleInput }}"/>
            <small id="characterTitleHelpText" class="form-text text-muted sr-only">Your Character's title (if
              any)</small>
          </div>
        </div>
        <div class="input-group row">
          <div class="input-group-prepend">
            <label class="input-group-text" for="characterLevelInput">Level</label>
          </div>
          <input type="number" class="form-control" name="characterLevelInput" id="characterLevelInput"
            aria-describedby="levelHelpText" placeholder="0" value="{{ variables.characterLevelInput is defined ? variables.characterLevelInput }}"/>
          <small id="levelHelpText" class="form-text text-muted sr-only">Your Character Level</small>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="text-center">
            <strong>Ability Scores</strong>
          </h4>
          <!-- STR -->
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <label class="input-group-text" for="abilityScoreSTRInput">STR</label>
            </div>
            <input type="number" class="form-control" name="abilityScoreSTRInput" id="abilityScoreSTRInput"
              aria-describedby="strHelpText" placeholder="0" value="{{ variables.abilityScoreSTRInput is defined ? variables.abilityScoreSTRInput }}"/>
            <small id="strHelpText" class="form-text text-muted sr-only">Melee att./damage, Open Doors</small>
          </div>
          <!-- INT -->
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <label class="input-group-text" for="abilityScoreINTInput">INT</label>
            </div>
            <input type="number" class="form-control" name="abilityScoreINTInput" id="abilityScoreINTInput"
              aria-describedby="intHelpText" placeholder="0" value="{{ variables.abilityScoreINTInput is defined ? variables.abilityScoreINTInput }}"/>
            <small id="intHelpText" class="form-text text-muted sr-only">Languages, Literacy</small>
          </div>
          <!-- WIS -->
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <label class="input-group-text" for="abilityScoreWISInput">WIS</label>
            </div>
            <input type="number" class="form-control" name="abilityScoreWISInput" id="abilityScoreWISInput"
              aria-describedby="wisHelpText" placeholder="0" value="{{ variables.abilityScoreWISInput is defined ? variables.abilityScoreWISInput }}"/>
            <small id="wisHelpText" class="form-text text-muted sr-only">Saves vs magic</small>
          </div>
          <!-- DEX -->
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <label class="input-group-text" for="abilityScoreDEXInput">DEX</label>
            </div>
            <input type="number" class="form-control" name="abilityScoreDEXInput" id="abilityScoreDEXInput"
              aria-describedby="dexHelpText" placeholder="0" value="{{ variables.abilityScoreDEXInput is defined ? variables.abilityScoreDEXInput }}"/>
            <small id="dexHelpText" class="form-text text-muted sr-only">Missle attacks, AC, Initiative</small>
          </div>
          <!-- CON -->
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <label class="input-group-text" for="abilityScoreCONInput">CON</label>
            </div>
            <input type="number" class="form-control" name="abilityScoreCONInput" id="abilityScoreCONInput"
              aria-describedby="conHelpText" placeholder="0" value="{{ variables.abilityScoreCONInput is defined ? variables.abilityScoreCONInput }}"/>
            <small id="conHelpText" class="form-text text-muted sr-only">Hit Points</small>
          </div>
          <!-- CHA -->
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <label class="input-group-text" for="abilityScoreCHAInput">CHA</label>
            </div>
            <input type="number" class="form-control" name="abilityScoreCHAInput" id="abilityScoreCHAInput"
              aria-describedby="chaHelpText" placeholder="0" value="{{ variables.abilityScoreCHAInput is defined ? variables.abilityScoreCHAInput }}"/>
            <small id="chaHelpText" class="form-text text-muted sr-only">Reactions, Retainers, Loyalty</small>
          </div>
          <div class="input-group">
            <span>
              <strong>Ability Check:</strong> Roll under or equal on 1d20
            </span>
          </div>
        </div>
        <!--End Ability Scores-->
        <div class="col">
          <!--Start Saving Throws-->
          <h4 class="text-center">
            <strong>Saving Throws</strong>
          </h4>
          <!-- D -->
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="savingThrowDeathInput">D</label>
            </div>
            <input type="number" class="form-control" name="savingThrowDeathInput" id="savingThrowDeathInput"
              aria-describedby="deathHelpText" placeholder="0" value="{{ variables.savingThrowDeathInput is defined ? variables.savingThrowDeathInput }}"/>
            <small id="deathHelpText" class="form-text text-muted sr-only">Death, poison</small>
          </div>
          <!-- W -->
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="savingThrowWandsInput">W</label>
            </div>
            <input type="number" class="form-control" name="savingThrowWandsInput" id="savingThrowWandsInput"
              aria-describedby="wandsHelpText" placeholder="0" value="{{ variables.savingThrowWandsInput is defined ? variables.savingThrowWandsInput }}"/>
            <small id="wandsHelpText" class="form-text text-muted sr-only">Magic Wands</small>
          </div>
          <!-- P -->
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="savingThrowParalysisInput">P</label>
            </div>
            <input type="number" class="form-control" name="savingThrowParalysisInput" id="savingThrowParalysisInput"
              aria-describedby="paralysisHelpText" placeholder="0" value="{{ variables.savingThrowParalysisInput is defined ? variables.savingThrowParalysisInput }}"/>
            <small id="paralysisHelpText" class="form-text text-muted sr-only">Paralysis, petrification</small>
          </div>
          <!-- B -->
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="savingThrowBreathInput">B</label>
            </div>
            <input type="number" class="form-control" name="savingThrowBreathInput" id="savingThrowBreathInput"
              aria-describedby="breathHelpText" placeholder="0" value="{{ variables.savingThrowBreathInput is defined ? variables.savingThrowBreathInput }}"/>
            <small id="breathHelpText" class="form-text text-muted sr-only">Breath attacks</small>
          </div>
          <!-- S -->
          <div class="input-group">
            <div class="input-group-prepend"></div>
            <label class="input-group-text" for="savingThrowSpellsInput">S</label>
            <input type="number" class="form-control" name="savingThrowSpellsInput" id="savingThrowSpellsInput"
              aria-describedby="spellsHelpText" placeholder="0" value="{{ variables.savingThrowSpellsInput is defined ? variables.savingThrowSpellsInput }}"/>
            <small id="spellsHelpText" class="form-text text-muted sr-only">Spells, magic rods, magic staves</small>
          </div>
          <!-- plus/minus (Wis vs Magic) -->
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="savingThrowsMagicMod">&pm;</label>
            </div>
            <input type="number" class="form-control" name="savingThrowsMagicMod" id="savingThrowsMagicMod"
              aria-describedby="magicSaveHelpText" placeholder="0" value="{{ variables.savingThrowsMagicMod is defined ? variables.savingThrowsMagicMod }}"/>
            <small id="magicSaveHelpText" class="form-text text-muted sr-only">WIS modifier to saves vs magic</small>
          </div>
          <div class="form-group">
            <span>
              <strong>Saving Throw:</strong> Roll over or equal on 1d20
            </span>
          </div>
        </div>
        <!--END Saving throws-->
      </div>
    </div>
    <div class="col-4">
      <!--Logo/Portrait Block-->
    </div>
  </section>
  <!--END TOP ROW-->
  <!-- START SECOND ROW -->
  <section class="row">
    <div class="col-8">
      <div class="row">
        <h3>
          Combat
        </h3>
        <div class="container">
          <div class="col-7">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="hitpointsInput">HP</label>
              </div>
              <input type="number" class="form-control" name="hitpointsInput" id="hitpointsInput"
                placeholder="Hit Points" value="{{ variables.hitpointsInput is defined ? variables.hitpointsInput }}"/>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="maxHitpointsInput">Max HP</label>
              </div>
              <input type="number" class="form-control" name="maxHitpointsInput" id="maxHitpointsInput"
                placeholder="Max HP" value="{{ variables.maxHitpointsInput is defined ? variables.maxHitpointsInput }}"/>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="conModifierToHP">Con Modifier</label>
              </div>
              <input type="number" class="form-control" name="conModifierToHP" id="conModifierToHP" placeholder="0" value="{{ variables.conModifierToHP is defined ? variables.conModifierToHP }}"/>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <label class="input-group-text" for="meleeBonusInput">Melee Bonus</label>
              </div>
              <input type="number" class="form-control" name="meleeBonusInput" id="meleeBonusInput" placeholder="0" value="{{ variables.meleeBonusInput is defined ? variables.meleeBonusInput }}"/>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="armorClassInput">AC</label>
              </div>
              <input type="number" class="form-control" name="armorClassInput" id="armorClassInput"
                placeholder="Armor Class" value="{{ variables.armorClassInput is defined ? variables.armorClassInput }}"/>
            </div>
          </div>
          <div class="col-6 mt-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="unarmoredACInput">Un</label>
              </div>
              <input type="number" class="form-control" name="unarmoredACInput" id="unarmoredACInput"
                placeholder="0" value="{{ variables.unarmoredACInput is defined ? variables.unarmoredACInput }}"/>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="dexModInput">Dex Mod</label>
              </div>
              <input type="number" class="form-control" name="dexModInput" id="dexModInput" placeholder="0" value="{{ variables.dexModInput is defined ? variables.dexModInput }}"/>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="dexModMissleAttackInput">Dex Miss Mod</label>
              </div>
              <input type="number" class="form-control" name="dexModMissleAttackInput" id="dexModMissleAttackInput"
                placeholder="0" value="{{ variables.dexModMissleAttackInput is defined ? variables.dexModMissleAttackInput }}"/>
            </div>
          </div>
        </div>
      </div>
    <div class="col-4">
      <div class="row">
        <h3>
          Encounters
        </h3>
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="initInput">Init</label>
          </div>
          <input type="number" class="form-control" name="initInput" id="initInput" placeholder="0" value="{{ variables.initInput is defined ? variables.initInput }}"/>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="chaModInput">Cha Mod</label>
          </div>
          <input type="number" class="form-control" name="chaModInput" id="chaModInput" placeholder="0" value="{{ variables.chaModInput is defined ? variables.chaModInput }}"/>
        </div>
      </div>
      <div class="row">
        <h3>
          Exploration
        </h3>
        <!-- LD -->
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="listenInput">LD</label>
          </div>
          <input type="number" class="form-control mr-1" name="listenInput" id="listenInput"
            aria-describedby="listenInputHelpText" placeholder="0" value="{{ variables.listenInput is defined ? variables.listenInput }}"/>
          <small id="listenInputHelpText" class="form-text text-muted">-in-6</small>
        </div>
        <!-- OD -->
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="openDoorInput">OD</label>
          </div>
          <input type="number" class="form-control mr-1" name="openDoorInput" id="openDoorInput"
            aria-describedby="openDoorHelpText" placeholder="0" value="{{ variables.openDoorInput is defined ? variables.openDoorInput }}"/>
          <small id="openDoorHelpText" class="form-text text-muted">-in-6</small>
        </div>
        <!-- SD -->
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="secretDoorInput">SD</label>
          </div>
          <input type="number" class="form-control mr-1" name="secretDoorInput" id="secretDoorInput"
            aria-describedby="secretDoorInput" placeholder="0" value="{{ variables.secretDoorInput is defined ? variables.secretDoorInput }}"/>
          <small id="secretDoorInput" class="form-text text-muted">-in-6</small>
        </div>
        <!-- FT -->
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="findTrapInput">FT</label>
          </div>
          <input type="number" class="form-control mr-1" name="findTrapInput" id="findTrapInput"
            aria-describedby="findTrapHelpText" placeholder="0" value="{{ variables.findTrapInput is defined ? variables.findTrapInput }}"/>
          <small id="findTrapHelpText" class="form-text text-muted">-in-6</small>
        </div>
      </div>
      <div class="row">
        <h3>
          Movement
        </h3>
        <!-- Ov -->
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="overlandTravelInput">Ov</label>
          </div>
          <input type="number" class="form-control mr-1" name="overlandTravelInput" id="overlandTravelInput"
            aria-describedby="overlandTravelHelpText" placeholder="0" value="{{ variables.overlandTravelInput is defined ? variables.overlandTravelInput }}"/>
          <small id="overlandTravelHelpText" class="form-text text-muted">miles/day</small>
        </div>
        <!-- Ex -->
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="explorationMovementInput">Ex</label>
          </div>
          <input type="number" class="form-control mr-1" name="explorationMovementInput" id="explorationMovementInput"
            aria-describedby="explorationHelpText" placeholder="0" value="{{ variables.explorationMovementInput is defined ? variables.explorationMovementInput }}"/>
          <small id="explorationHelpText" class="form-text text-muted">feet/turn</small>
        </div>
        <!-- En -->
      </div>
      <h3>
        Languages
      </h3>
      <div class="row">
        <textarea name="languagesTextarea" id="languagesTextarea" cols="30" rows="10">{{ variables.languagesTextarea is defined ? variables.languagesTextarea }}</textarea>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="literateCheckBox" id="literateCheckBox"
              value="literate" value="{{ variables.literateCheckBox is defined ? variables.literateCheckBox }}"/>
            Literate
          </label>
        </div>
      </div>
    </div>
  </section>
  <h3 class="m-auto">Coins</h3>
  <section class="row">
    <!-- PP -->
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="platinumPiecesInput">PP</label>
      </div>
      <input type="number" class="form-control" name="platinumPiecesInput" id="platinumPiecesInput" placeholder="0" value="{{ variables.platinumPiecesInput is defined ? variables.platinumPiecesInput }}"/>
    </div>
    <!-- GP -->
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="goldPiecesInput">GP</label>
      </div>
      <input type="number" class="form-control" name="goldPiecesInput" id="goldPiecesInput" placeholder="0" value="{{ variables.goldPiecesInput is defined ? variables.goldPiecesInput }}"/>
    </div>
    <!-- EP -->
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="electrumPieceInput">EP</label>
      </div>
      <input type="number" class="form-control" name="electrumPieceInput" id="electrumPieceInput" placeholder="0" value="{{ variables.electrumPieceInput is defined ? variables.electrumPieceInput }}"/>
    </div>
    <!-- SP -->
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="silverPiecesInput">SP</label>
      </div>
      <input type="number" class="form-control" name="silverPiecesInput" id="silverPiecesInput" placeholder="0" value="{{ variables.silverPiecesInput is defined ? variables.silverPiecesInput }}"/>
    </div>
    <!-- CP -->
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="copperPiecesInput">CP</label>
      </div>
      <input type="number" class="form-control" name="copperPiecesInput" id="copperPiecesInput" placeholder="0" value="{{ variables.copperPiecesInput is defined ? variables.copperPiecesInput }}"/>
    </div>
  </section>
  <h3>Encumbrance <small>(Optional)</small></h3>
  <section class="row">
    <!-- TR -->
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="treasureWeightInput">TR</label>
      </div>
      <input type="number" class="form-control mr-2" name="treasureWeightInput" id="treasureWeightInput"
        aria-describedby="treasureHelpText" placeholder="0" value="{{ variables.treasureWeightInput is defined ? variables.treasureWeightInput }}"/>
      <small id="treasureHelpText" class="form-text text-muted">Weight of Treasure & Coins</small>
    </div>
    <!-- EQ -->
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="equipmentWeightInput">EQ</label>
      </div>
      <input type="number" class="form-control mr-2" name="equipmentWeightInput" id="equipmentWeightInput"
        aria-describedby="equipmentWeightHelpText" placeholder="0" value="{{ variables.equipmentWeightInput is defined ? variables.equipmentWeightInput }}"/>
      <small id="equipmentWeightHelpText" class="form-text text-muted">Armor & Equipment weight</small>
    </div>
    <!-- + -->
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="totalWeightInput">+</label>
      </div>
      <input type="number" class="form-control mr-2" name="totalWeightInput" id="totalWeightInput"
        aria-describedby="totalWeightHelpText" placeholder="0" value="{{ variables.totalWeightInput is defined ? variables.totalWeightInput }}"/>
      <small id="totalWeightHelpText" class="form-text text-muted">Total Weight</small>
    </div>
  </section>
  <h3>Experiance Points</h3>
  <section class="mb-3">
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="currentXPInput">Current XP</label>
      </div>
      <input type="number" class="form-control" name="currentXPInput" id="currentXPInput" aria-describedby="helpId"
        value="{{ variables.currentXPInput is defined ? variables.currentXPInput }}" placeholder="0" />
    </div>
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="nextLevelXPInput">Needed For Next Level</label>
      </div>
      <input type="number" class="form-control" name="nextLevelXPInput" id="nextLevelXPInput" aria-describedby="helpId"
        value="{{ variables.nextLevelXPInput is defined ? variables.nextLevelXPInput }}"placeholder="0" />
    </div>
  </section>
  <!-- END SECOND ROW -->
  <section id="matrixSection" class="row">
    <!-- Matrix Table Start -->
    <h3>
      Attack Value Matrix
    </h3>
    <table>
      <tr>
        <td>
            <label class="input-group-text" for="matrixNineInput">9</label>
        </td>
        <td>
            <label class="input-group-text" for="matrixEightInput">8</label>
        </td>
        <td>
            <label class="input-group-text" for="matrixSevenInput">7</label>
        </td>
        <td>
            <label class="input-group-text" for="matrixSixInput">6</label>
        </td>
        <td>
            <label class="input-group-text" for="matrixFiveInput">5</label>
        </td>
        <td>
            <label class="input-group-text" for="matrixFourInput">4</label>
        </td>
        <td>          
            <label class="input-group-text" for="matrixThreeInput">3</label>
        </td>
        <td>
            <label class="input-group-text" for="matrixTwoInput">2</label>
        </td>
        <td>
            <label class="input-group-text" for="matrixOneInput">1</label>
        </td>
        <td>
            <label class="input-group-text" for="matrixZeroInput">0</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" name="matrixNineInput" id="matrixNineInput" placeholder="0" value="{{ variables.matrixNineInput is defined ? variables.matrixNineInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixEightInput" id="matrixEightInput" placeholder="0" value="{{ variables.matrixEightInput is defined ? variables.matrixEightInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixSevenInput" id="matrixSevenInput" placeholder="0" value="{{ variables.matrixSevenInput is defined ? variables.matrixSevenInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixSixInput" id="matrixSixInput" placeholder="0" value="{{ variables.matrixSixInput is defined ? variables.matrixSixInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixFiveInput" id="matrixFiveInput" placeholder="0" value="{{ variables.matrixFiveInput is defined ? variables.matrixFiveInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixFourInput" id="matrixFourInput" placeholder="0" value="{{ variables.matrixFourInput is defined ? variables.matrixFourInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixThreeInput" id="matrixThreeInput" placeholder="0" value="{{ variables.matrixThreeInput is defined ? variables.matrixThreeInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixTwoInput" id="matrixTwoInput" placeholder="0" value="{{ variables.matrixTwoInput is defined ? variables.matrixTwoInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixOneInput" id="matrixOneInput" placeholder="0" value="{{ variables.matrixOneInput is defined ? variables.matrixOneInput }}"/>
        </td>
        <td>
          <input type="text" class="form-control" name="matrixZeroInput" id="matrixZeroInput" placeholder="0" value="{{ variables.matrixZeroInput is defined ? variables.matrixZeroInput }}"/>
        </td>
      </tr>
    </table>
    <!-- Matrix Table End -->
    <span><strong>Attack Roll: </strong>Look up attack roll in matrix to
      determine hit Armor Class.</span>
    </div>
  </section>
  <section class="row">
    <span>Abilities, Skills</span>
    <textarea name="abilitiesSkillsTextArea" id="abilitiesSkillsTextArea" cols="100" rows="20">{{ variables.abilitiesSkillsTextArea is defined ? variables.abilitiesSkillsTextArea }}</textarea>
  </section>
  <section class="row">
    <span>Spells</span>
    <textarea name="spellsTextArea" id="spellsTextArea" cols="100" rows="20">{{ variables.spellsTextArea is defined ? variables.spellsTextArea }}</textarea>
  </section>
  <section class="row">
    <span>Equipment</span>
    <textarea name="equipmentTextArea" id="equipmentTextArea" cols="100" rows="10">{{ variables.equipmentTextArea is defined ? variables.equipmentTextArea }}</textarea>
  </section>
  <section class="row">
    <span>Weapons & Armor</span>
    <textarea name="weaponsAndArmorTextarea" id="weaponsAndArmorTextarea" cols="100" rows="10">{{ variables.weaponsAndArmorTextarea is defined ? variables.weaponsAndArmorTextarea }}</textarea>
  </section>
  <section class="row">
    <span>Magic Items</span>
    <textarea name="magicItemsTextArea" id="magicItemsTextArea" cols="100" rows="10">{{ variables.magicItemsTextArea is defined ? variables.magicItemsTextArea }}</textarea>
  </section>
  <section class="row">
    <span>Treasure</span>
    <textarea name="treasureTextArea" id="treasureTextArea" cols="100" rows="10">{{ variables.treasureTextArea is defined ? variables.treasureTextArea }}</textarea>
  </section>
  <section class="row">
    <span>Other Notes</span>
    <textarea name="notesTextArea" id="notesTextArea" cols="100" rows="10">{{ variables.notesTextArea is defined ? variables.notesTextArea }}</textarea>
  </section>